.filter-outer {
  display: flex;
  justify-content: flex-start;
  width: 50%;
  flex-direction: row;
  gap: 20px;
  align-items: flex-end;
  margin: 2px 0 20px 0;
}

.hidden {
  display: none;
}

.filter-inner {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  width: 20%;
}

.filter-inner label {
  margin-bottom: 5px;
  color: #c3c8d4;
  font-size: 1rem;
  font-weight: 600;
}

.filter-inner select {
  outline: none;
  height: 40px;
  background-color: #130f34;
  color: #c3c8d4;
  font-size: 0.9rem;
  font-weight: 600;
  border: 2px solid #20283e;
  border-radius: 5px;
}

.filter-inner select:focus {
  outline: none;
  border: 2px solid #5a4af4;
}

@media screen and (max-width: 540px) {
  .filter-inner {
    width: 100%;
  }

  .filter-inner label {
    font-size: 0.9rem;
    font-weight: 700;
  }

  .filter-inner select {
    font-size: 0.9rem;
  }

  .filter-outer {
    width: 80%;
  }
}

@media screen and (min-width: 768px) and (max-width: 950px) {
  .filter-inner {
    width: 50%;
  }

  .filter-outer {
    width: 80%;
  }
}

@media screen and (min-width: 951px) and (max-width: 1100px) {
  .filter-inner {
    width: 30%;
  }

  .filter-outer {
    width: 70%;
  }
}

@media screen and (min-width: 1101px) and (max-width: 1300px) {
  .filter-inner {
    width: 40%;
  }

  .filter-outer {
    width: 50%;
  }
}
